// 70877F
// 95D78A
// B1E4B8

.header
	background-color $blacker
	z-index 20
	
	.container
		display flex
		justify-content space-between

	&_socials
		margin 0
		padding 0
		list-style none
		display flex
		align-items center
		
		a
			padding 5px 10px
			color white
			display block
			font-size 1.3em
			
			transition all 250ms ease-in-out
			
			&:hover
				color darken($green, 10%)
		
.title
	height 100px
	margin 50px 0
	font-family Days
	text-align center
	
	&_big
		font-size 3em
		color lighten($blue, 10%)
	&_small
		font-size 1.7em
		color lighten($green, 10%)
		
.menu
	color white
	
	&_list, &_sub
		list-style none
		padding 0
		margin 0
		display flex
		
		a
			padding 20px
			display block
			font-size 1em
			font-weight 400

	&_list
		justify-content center
		
		&>li
			position relative
			transition color 250ms ease-in-out
			text-transform uppercase
			
			a
				font-weight 700
				
			&:hover
				color darken($green, 10%)
				
		&>li.current-menu-item,
		&>li.current-menu-parent
			color darken($green, 10%)
				
	&_list li:hover &_sub
		opacity 1
		visibility visible
		
	&_sub
		z-index 2
		position absolute
		color $mainfont
		background-color white
		flex-direction column
		font-size .9em
		width 300px
		opacity 0
		visibility hidden
		transition opacity 250ms, visibility 200ms
		box-shadow 0 1px 10px rgba(0,0,0,0.15)
		
		li
			transition all 200ms ease-in-out
			text-transform none
			
			a	
				font-weight 300
				font-size .95em
				padding 15px
			
			&.current-menu-item
				color white
				background-color $green
			
			&:hover
				background-color $green !important
				color white