.sidebar
	width 350px
	
	&_widget
		@extends $material
		width 290px
	
	&_header
		margin 0 0 10px 0
		font-size 1.1em
		text-transform uppercase
		text-align center
		
	&_link
		width 190px
		height 57px
		border-radius 5px
		overflow hidden
		background-size cover
		background-repeat no-repeat
		background-position center
		margin 0 auto 10px
		
		a
			display block
			height 100%